<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="MightyMocker Test Suite">
            <directory>tests/MightyMocker/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/MightyMocker/</directory>
        </whitelist>
    </filter>
</phpunit>
